body,
html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("banners/main-banner.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("banners/mid-pic.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("banners/discuss.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #EACECE;
    font-weight: bold;
}

.icon-bar {
    text-align: center;
    /*background-color: #555;*/
    overflow: auto;
}

.social-bar {
    bottom:10%;
    position: absolute;
    text-align: center;
    width: 100%;
    /*left: 0;*/
    /*background-color: #555;*/
}

.social-bar a{
    width: 25%;
    float: left;
    opacity: 1.75;
    /*transition: all 0.3s ease;*/
    /*color: white;*/
    }


.social-bar a img {
   padding:1px;
   border:1px double #000000;
   border-radius: 50px;
   filter: brightness(140%);
   /*background-color:#B2AEAE;*/
}

.social-bar a img:hover 
{
 -moz-transform: scale(1.3);
 -webkit-transform: scale(1.3);
 transform: scale(1.3);
}

    
.icon-bar a {
    width: 16%;
    padding: 12px 0;
    float: left;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

/*.icon-bar a:hover {
    background-color: #000;
}*/

.pic img {
  -webkit-filter: grayscale(100%);
}
/*B&W*/
.bw img{
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw img:hover {
  -webkit-filter: grayscale(0%);
}